src/main/mule/implementation/createattachment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="createattachmentFlow1" doc:id="bfd6a98b-40c2-4ed4-a9ec-2be6627634ac" >
		<http:listener doc:name="Listener" doc:id="6a1bb350-0ac6-4259-991e-51f93f8caae5" path="/query" config-ref="HTTP_Listener_config"/>
		<salesforce:query doc:name="Query" doc:id="f8d78f4c-866d-4981-a5f6-fb2b766c801c" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >select id from case limit 1</salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="845b7a6f-4e17-4e94-b125-72ea1e4e97b6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="createattachmentFlow" doc:id="f4de9186-5d28-4a13-a5fd-fcb3ee4b7803" >
		<http:listener doc:name="Listener" doc:id="e497ac46-0dfb-409f-a9b1-6c3748a1e69e" path="/upload" config-ref="HTTP_Listener_config"/>
		<file:read doc:name="Read" doc:id="562e43ef-eacb-4200-a4b8-6233b45ff73b" path="C:\pats\mule\mule4\dummy.pdf"/>
		<ee:transform doc:name="Transform Message" doc:id="1c82a648-4780-4d06-9f72-735c2d75f0db" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/java
---
[{
	ParentId: "500c000000BjwM2AAJ",
	Name: "test",
	Body: toBase64(payload)
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="3d4692d9-b321-4dda-8302-f426cd2943b2" type="Attachment" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="bd226fe3-1127-4ee0-813e-ebbb63211a3b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="retrieveAttachmentFlow" doc:id="ba2dec00-6b90-4df2-8bef-0b2338d25a04" >
		<http:listener doc:name="Listener" doc:id="3d76a06a-efef-40d1-93fa-7f9ee5864e3f" path="/retrieve" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="40efa8ba-0b3a-4e28-ac82-209f50991291" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
fields: ["name","body"],
ids: ["00Pc0000008v0fPEAQ"]
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:retrieve doc:name="Retrieve" doc:id="eb5602f6-9540-4e3d-a064-4e0a19469a0f" type="Attachment" config-ref="Salesforce_Config"/>
		<foreach doc:name="For Each" doc:id="dc3f398e-8c7f-437d-8380-8f5e7faabf7b" >
			<ee:transform doc:name="Transform Message" doc:id="0521fdd9-c675-4d6b-a797-c030b5191138">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/octet-stream
---
payload.Body]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<file:write doc:name="Write" doc:id="bdfb2559-3298-46b1-bd5c-13c3bd8e980c" path="C:/Users/dgpats/Desktop/fileOutput/outputTest.pdf" />
		</foreach>
	</flow>
 </mule>
